### Symfony backend ###
/backend/vendor/
/backend/var/
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local

### Cache & logs ###
/backend/var/cache/
/backend/var/log/

### IDE / OS ###
/backend/.idea/
/backend/.vscode/
*.iml
.DS_Store
Thumbs.db

### Misc ###
/backend/*.log
/backend/*.pem
/backend/*.cache
vendor/
vendor/*
/vendor/*

#Docker
docker-compose.yaml
docker-compose.yml
docker-compose.override.yml
docker-compose.override.env

/docker-compose.override.yml
/docker-compose.override.env

.env
.env.dev
.log
